@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }


  .centrado{
  	align-content: center;
  }

  .tamText{
  	max-width: 90%;

  }

  .tamButton{
  	max-width: 100%;
  	border-color: #123456; 
  	background-color: #FFFFFF;
  	color: #123456;
  }


  .centTitle{
  	text-align: center;
  }

  .center-div{
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 50%;
	  height: 280px;
	  background: #FFFFFF;
	}

	.divCuadro form{
		background-color: #FFFFFF;
		color: #123456;
	}

	body{
		background: #123456;
	}
}
